/*Centrar div*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: sans-serif;
}

.carga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Tamaño imagen*/
.img-carga {
    width: 40vh;
    height: 40vh;
    margin: 0;
}

.barra-carga {
    border: 1px solid #2780F5;
    width: 400px;
    height: 15px;
    border-radius: 20px;
}

/*Animacion*/
.carga .barra-carga .proceso-carga {
    height: 15px;
    border-radius: 20px;
    background: #2780F5;
    animation: carga 2s forwards cubic-bezier(0,0,0,0);
}

@keyframes carga{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}