/*body*/
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #40A9DD;
}

/*Animación header*/
@keyframes aparicionHeader {
    from {
        transform: translateY(-100%);
    } to {
        transform: matrix(0);
    }
}

/*Header*/
header {
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;
    animation: aparicionHeader .8s ease;
}

header img {
    margin: 0;
    width: 350px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
}

.usuario {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3rem;
}

#nombre-usuario {
    font-size: 18px;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

/*Animación cabecera*/
@keyframes aparicionCabecera {
    from {
        transform: translateX(-100%);
    } to {
        transform: matrix(0);
    }
}

/*Cabecera*/

.cabecera {
    display: flex;
    font-size: 25px;
    margin-top: 80px;
    width: 100%;
    animation: aparicionCabecera .8s ease;
}

.cabecera p {
    margin-left: 3vh;
    font-weight: bold;
    color: white;
}

/*Animacion barra de opciones y cuadro de clientes*/
@keyframes aparicionArriba {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: matrix(0);
    }
}

.barra-opciones {
    display: flex;
    align-items: center;
    width: 90%;
    box-shadow: 0px 5px 5px #314752;
    background-color: white;
    border-radius: 10px;
    border: none;
    position: relative;
    animation: aparicionArriba .8s ease;
}

.agregar-cliente {
    width: 50px;
    height: 55px;
    background-color: #49c92a;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 35px;
    margin: 10px;
    transition: .8s;
}

.agregar-cliente:active {
    transform: scale(0.9);
}

.borrar-cliente {
    border: none;
    background-color: red;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50px;
    height: 55px;
    transition: 0.5s;
}

.borrar-cliente svg {
    width: 30px;
    height: 35px;
}

.borrar-cliente:active {
    transform: scale(0.9);
}

.mensaje-seleccionado {
    color: red;
    font-size: 20px;
    margin: 10px;
}

.buscar-clientes {
    width: 100vh;
    height: 55px;
    border-radius: 10px;
    font-size: 25px;
    outline: none;
    border: 2px solid #4bccb7;
    position: absolute;
    right: 10px;
}

.lista-clientes {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    animation: aparicionArriba .8s ease;
}

.datos-cliente {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #405ADD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 5px #314752;
}

.datos-cliente p {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.clientes-registrados {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px #314752;
}

.cliente-regis {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #aaaaaa;
}

.seleccionado {
    background-color: rgba(255, 0, 0, 0.3);
}

.filtro {
    display: none;
}

.cliente-regis p {
    font-size: 25px;
}

/*Animacion ingresar clientes*/
@keyframes aparecerIngresarClientes {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: matrix(0);
    }
}

@keyframes desaparecerIngresarClientes {
    from {
        opacity: 1;
        transform: matrix(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10%);
    }
}

.aparecer-ingresar-clientes {
    animation: aparecerIngresarClientes .8s ease;
}

.desaparecer-ingresar-clientes {
    animation: desaparecerIngresarClientes .8s ease;
}

.ingresar-clientes-null {
    display: none;
}

.ingresar-clientes {
    box-shadow: 0px 5px 5px #314752;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 20vh;
    background-color: white;
}

.ingresar-clientes form {
    display: flex;
    width: 100%;
    gap: 2vh;
    align-items: center;
    margin: 10px;
}

.grupo {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.input-cliente {
    outline: none;
    border: 2px solid #4bccb7;
    border-radius: 5px;
    height: 55px;
    width: 50vh;
    font-size: 20px;
}

.agregar-input {
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 15vh;
    color: white;
    background-color: #49c92a;
    font-size: 20px;
    font-weight: bolder;
}

.agregar-input:active {
    transform: scale(0.9);
}

.limpiar-input {
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 15vh;
    font-weight: bolder;
    background-color: #4bccb7;
    font-size: 20px;
    color: white;
}

.limpiar-input:active {
    transform: scale(0.9);
}

/*Responsive celular*/

@media (max-width: 480px) {
    /*Header*/
    header {
        display: flex;
        position: fixed;
        z-index: 9999;
        width: 100%;
        background-color: white;
        animation: aparicionHeader .8s ease;
        align-items: center;
    }

    header img {
        margin: 0;
        width: 200px;
        height: 30px;
        padding: 15px;
        cursor: pointer;
    }

    .usuario {
        display: flex;
        gap: 0px;
        margin-top: 10px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 3rem;
    }

    .usuario p {
        display: none;
    }

    #nombre-usuario {
        font-size: 18px;
    }

    .contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    /*Cabecera*/

    .cabecera {
        display: flex;
        font-size: 25px;
        margin-top: 80px;
        width: 100%;
        animation: aparicionCabecera .8s ease;
    }

    .cabecera p {
        margin-left: 3vh;
        font-weight: bold;
        color: white;
    }

    .barra-opciones {
        display: flex;
        align-items: center;
        width: 90%;
        box-shadow: 0px 5px 5px #314752;
        background-color: white;
        border-radius: 10px;
        border: none;
        position: relative;
        animation: aparicionArriba .8s ease;
    }

    .agregar-cliente {
        width: 50px;
        height: 55px;
        background-color: #49c92a;
        color: white;
        border-radius: 10px;
        border: none;
        font-size: 35px;
        margin: 10px;
        transition: .8s;
    }

    .agregar-cliente:active {
        transform: scale(0.9);
    }

    .borrar-cliente {
        border: none;
        background-color: red;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 50px;
        height: 55px;
        transition: 0.5s;
    }

    .borrar-cliente svg {
        width: 30px;
        height: 35px;
    }

    .borrar-cliente:active {
        transform: scale(0.9);
    }

    .mensaje-seleccionado {
        color: red;
        font-size: 20px;
        margin: 10px;
    }

    .buscar-clientes {
        width: 20vh;
        height: 55px;
        border-radius: 10px;
        font-size: 25px;
        outline: none;
        border: 2px solid #4bccb7;
        position: absolute;
        right: 10px;
    }

    .lista-clientes {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-top: 3vh;
        animation: aparicionArriba .8s ease;
        overflow-x: auto;
    }

    .datos-cliente {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        align-items: center;
        text-align: center;
        background-color: #405ADD;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 5px 5px #314752;
        gap: 10px;
    }

    .datos-cliente p {
        font-weight: bold;
        font-size: 15px;
        color: white;
    }

    .clientes-registrados {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 70vh;
        overflow-y: auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 5px 5px #314752;
    }

    .cliente-regis {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        text-align: center;
        align-items: center;
        border-bottom: 1px solid #aaaaaa;
        gap: 10px;
    }

    .seleccionado {
        background-color: rgba(255, 0, 0, 0.3);
    }

    .filtro {
        display: none;
    }

    .cliente-regis p {
        font-size: 15px;
    }

    .aparecer-ingresar-clientes {
        animation: aparecerIngresarClientes .8s ease;
    }

    .desaparecer-ingresar-clientes {
        animation: desaparecerIngresarClientes .8s ease;
    }

    .ingresar-clientes-null {
        display: none;
    }

    .ingresar-clientes {
        box-shadow: 0px 5px 5px #314752;
        width: 90%;
        border-radius: 10px;
        position: absolute;
        top: 27vh;
        background-color: white;
    }

    .ingresar-clientes form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2vh;
        align-items: center;
        margin: 10px;
    }

    .grupo {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .input-cliente {
        outline: none;
        border: 2px solid #4bccb7;
        border-radius: 5px;
        height: 55px;
        width: 30vh;
        font-size: 20px;
    }

    .agregar-input {
        border: none;
        border-radius: 5px;
        height: 55px;
        width: 30vh;
        color: white;
        background-color: #49c92a;
        font-size: 20px;
        font-weight: bolder;
    }

    .agregar-input:active {
        transform: scale(0.9);
    }

    .limpiar-input {
        border: none;
        border-radius: 5px;
        height: 55px;
        width: 30vh;
        font-weight: bolder;
        background-color: #4bccb7;
        font-size: 20px;
        color: white;
    }

    .limpiar-input:active {
        transform: scale(0.9);
    }  
}