.menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 15px;
}

.side-bar {
    border: 2px solid #bebcbc;
    width: 0rem;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 82px;
    left: 0;
    height: 100vh;
    transition: width 0.5s ease;
}

.side-bar.menu-toggle {
    width: 30rem;
}

.side-bar ul {
    margin: 0;
    padding: 0;
}

.side-bar li {
    list-style: none;
}

.direcciones {
    display: none;
    align-items: center;
    text-decoration: none;
    gap: 3rem;
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.direcciones:hover {
    background-color: #666;
}

.a-display {
    display: flex;
}